dev/

__pycache__/

.env
.env.cloud
.misc/
.codex
.python-version

info.txt

infra/terraform/terraform.tfvars
infra/terraform/.terraform/
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/.terraform.lock.hcl

terraform.rc

infra/ansible/inventory.ini
infra/ansible/group_vars/all.yml

mistakes.txt
instr.txt

k8s/**/secrets.yaml
k8s/**/secret.yaml
!frontend/.env